body {
    margin: 10px;
    background-color: rgb(84, 84, 84);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
  }
  
  #cat-image {
    width: 100%;
    transition: transform 0.5s;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: white;
    padding: 10px;
  }
  .top1 {
    overflow: hidden;
    height: 100%;
  }
  #cat-image:hover {
    transform: scale(1.2);
  }
  
  #readmore {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: white;
    padding: 10px;
    transition: transform 4s;
  }
  
  .container:hover + #readmore {
    display: flex;
  }
  
  #btn-readmore {
    width: 100px;
    padding: 5px;
    background-color: #ebe9eb;
    text-decoration: none;
    color: gray;
    border-radius: 3px;
    text-align: center;
  }
  